@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');

body {
    background-color: rgb(255, 255, 255);
}

.container {
    text-align: center;
}

#profile-info {
    list-style: none;
    padding-inline-start: 0;
}

#footer {
    position: fixed;
    bottom: 0%;
}

span {
    font-family: 'Playpen Sans', cursive;
    font-weight: bold;
}